*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --blue : red;
    --lightwhite: #F4F4F6;
    --suggestionbggray: #b8b8bd;
    --darkgray:#66666E;
    --blue: rgba(86,211,251,255);
}

.coveroff{
    position: fixed;
    top:0px;
    width: 100vw;
    height: 100vh;
    background-color: #3f9dc9;
    opacity: .5;;
}

.root{
    position: fixed;
    top : 10px;
    color:#4070f4;
}

.bot_icon{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-image: url("./bot_image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.on{
    display: none;
}
.off{
    display: block;
}

.bot_icon:hover{
    cursor: pointer;
}

.msg_box{
    width: 70vw;
    height: 90vh;
    background-color: var(--lightwhite);
    margin:5vh;
    border-radius: 10px;
    position: relative;
    border: 3px solid var(--blue);
    overflow-y: hidden;
}
.msg{
    overflow-y: auto;
    height: 70%;
}

.title_bar{
    width: 100%;
    height: 10%;
    background-color: var(--blue);
    color:white;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    padding-top: 5px;
    position: sticky;
    top:0;
}

.input_box{
    width: 100%;
    height: 60px;
    border: 2px solid var(--blue);
    border-radius: 5px;
    position: sticky;
    bottom: 0px;
}

.input_box input{
    width: 90%;
    border: none;
    height: 100%;
    padding-left: 10px;
    font-size: 30px;
}

.input-box input:focus,
.input-box input:valid{
  border-color: #4070f4;
}

.sendbtn{
    color: var(--blue);
    width: 10%;
    height: 100%;
    border: 1px solid var(--blue);
    position: absolute;
    top: 0px;
    right: 0px;
    display: grid;
    place-items: center;
    font-size: 20px;
    cursor: pointer;
}

.sendbtn:hover{
    font-size: 22px;
    color:black;
}

.botmsg{
    width:fit-content;
    max-width: 70%;
    min-height: 20px;
    color: white;
    background-color: var(--blue);
    margin: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 1.5em;
    padding: 10px;
    box-sizing: border-box;
}

.usermsg{
    width:fit-content;
    max-width: 70%;
    color: white;
    background-color: var(--blue);
    margin: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 1.5em;
    padding: 10px;
    box-sizing: border-box;
    margin-left: auto;
}

.suggestionlist{
    margin:.5%;
    height: 10%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    box-sizing: border-box;
    position: sticky;
    bottom: 60px;
    border: none;
    border-radius: 5px;
}
.sug{
    cursor: pointer;
    background-color: var(--darkgray);
    font-size: 1.2em;
    margin: 3px 10px;
    max-height: 60%;
    padding: 3px 3px;
    border-radius: 5px;
    color:white;
}

